.main{
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
    text-align: center;

}
.field{
  margin-top: 30px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap:30px;
}
.btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.output{
  margin-top: 30px;
   width: 30%;;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.item{
    border-bottom: 1px solid greenyellow;
}